@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Roboto Serif", sans-serif;
  font-size: 18px;
  background-color: rgb(13, 25, 43);
  color: rgb(190, 190, 190);
}

/* MAIN */
#main {
  max-width: 1091px;
  max-height: 100%;
  margin: 30px auto;
  padding: 15px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 0.5rem;
}

#title {
  text-align: center;
  font-size: 50px;
  color: #ffff;
}

#main p {
  text-align: center;
  margin: 1rem 0.5rem 1rem 0;
}

#img-div {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}

#image {
  display: block;
  max-width: 100%;
  padding-bottom: 10px;
  border-radius: 0.5rem;
}

.tribute-info {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

.tribute-info h2 {
  text-align: center;
  margin: 1rem 0.5rem 1rem 0;
  color: #ffff;
}

.tribute-info ul li {
  margin-bottom: 10px;
  line-height: 30px;
}

.qoute {
  padding-top: 30px;
}

i {
  color: #ffff;
}

a,
a:link {
  color: #ffff;
}

/* FOOTER */
footer {
  font-size: 16px;
  text-align: center;
}

footer p {
  padding-bottom: 30px;
}
